# various latex intermediate files
*.aux
*.bbl
*.fdb_latexmk
*.fls
*.blg
*.lof
*.log
*.lot
*.odt
*.ods

thesis.out
thesis.bcf
thesis.run.xml
thesis.pdf
thesis.toc

# produced by the 'layout' package
# for ensuring that margin guidelines are met
layout_thesis.pdf

# vim temporary files
*.sw*
